{% extends "base.html" %}

{% load tailwind_filters %}

{% block content %}

{% if user.is_authenticated %}
    <script>window.location.href = '{% url 'all_products' %}'</script>
{% else %}

<h1 class="text-3xl font-bold underline text-yellow-600 my-2">Login</h1>
<div class="relative border border-yellow-500 rounded-lg bg-yellow-600 pb-4 px-4">
    <form action="" method="POST" enctype="multipart/form-data" class="space-y-4 text-yellow-400">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="bg-yellow-700 hover:bg-yellow-500 text-yellow-950 font-bold py-2 px-4 rounded">Login</button>
    </form>
</div>

{% endif %}

{% endblock content %}
