{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

{% if user.is_authenticated %}
    <h1 class="text-3xl font-bold underline text-yellow-600 my-2">Add Product</h1>
    <div class="relative border border-yellow-500 rounded-lg bg-yellow-600 pb-4 px-4">
        <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="bg-yellow-700 hover:bg-yellow-500 text-yellow-950 font-bold py-2 px-4 rounded">Add Product</button>
        </form>
    </div>

{% else %}
    <script>window.location.href = '{% url 'login' %}'</script>
{% endif %}

{% endblock content %}